@using FA.JustBlog.Core.Models;
@model Posts;

<h1>Post Detail</h1>

<dl class="row">
    <dt class="col-sm-3">Title</dt>
    <dd class="col-sm-9">@Model.Title</dd>

    <dt class="col-sm-3">Short Description</dt>
    <dd class="col-sm-9">@Model.ShortDescription</dd>

    <dt class="col-sm-3">Post Content</dt>
    <dd class="col-sm-9">@Model.PostContent</dd>

    <dt class="col-sm-3">Url Slug</dt>
    <dd class="col-sm-9">@Model.UrlSlug</dd>

    <dt class="col-sm-3">Published</dt>
    <dd class="col-sm-9">@Model.Published</dd>

    <dt class="col-sm-3">Posted On</dt>
    <dd class="col-sm-9">@Model.PostedOn.ToString("MM/dd/yyyy")</dd>

    <dt class="col-sm-3">Modified</dt>
    <dd class="col-sm-9">@Model.Modified.ToString("MM/dd/yyyy")</dd>

    <dt class="col-sm-3">Category Id</dt>
    <dd class="col-sm-9">@Model.CategoryId</dd>
</dl>